/*CSS for Cortland Lehnen Portfolio Page*/



html
{
    min-height: 100%;
    background-color: rgb(221, 102, 46);
}

@media (max-width: 660px)
{
    body
    {
        width: 95%;
        margin: 0 auto;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #projects
    {
        flex-basis: 50%;
        padding: 20px;
        box-sizing: border-box;
        height: 300px;
        overflow-y: scroll;
        scrollbar-color: gray rgb(236, 236, 236);
        box-shadow: 0px 0px 5px 10px rgb(155, 155, 155);
    }
    #thumbnail
    {
        width: 300px;
        height: 200px;
    }
    main
    {
        display: flex;
        flex-direction: column;
    }
    .projectPic
    {
        width: 100px;
        height: 100px;
    }
    .projectDesc
    {
        flex-basis: 40%;
        align-content: center;
        text-align: left;
        font-size: 14px;
    }
}
@media (min-width: 660px)
{
    body
    {
        width: 85%;
        margin: 0 auto;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #projects
    {
        flex-basis: 60%;
        padding: 20px;
        box-sizing: border-box;
        height: 600px;
        overflow-y: auto;
        scrollbar-color: gray rgb(236, 236, 236);
        box-shadow: 0px 0px 5px 10px rgb(150, 42, 0);
    }
    main
    {
        display: flex;
        flex-direction: row;
    }
    .projectDesc
    {
        flex-basis: 40%;
        align-content: center;
        text-align: left;
        font-size: 22px;
    }
}
#thumbnail
{
    box-shadow: 0px 0px 3px 7px rgb(150, 42, 0);
}
header h1
{
    font-size: 52px;
    text-align: left;
    padding-top: 10px;
    text-shadow: -3px 1px 3px rgb(150, 42, 0);
}
header h2
{
    font-size: 24px;
    text-align: right;
    padding-bottom: 10px;
}
header, main
{
    border-radius: 15px;
    text-align: center;
}
#content
{
    flex-basis: 50%;
    padding: 30px;
}
#links
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    border-radius: 5px;
}
.nav
{
    padding: 15px;
    border-radius: 10px;
    /*background-color: rgb(150, 42, 0);*/
    align-content: center;
    text-decoration: none;
    background-color: rgb(150, 42, 0);
    color: black;
}

.nav:hover
{
    background-color: rgb(236, 95, 0);
    color: rgb(255, 208, 0);
}
a
{
    font-size: 22px;
}
#BeatAMoose, #BeatYourFears, #ApeInSpace, #Ship, #Casino
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(170, 54, 0);
    box-shadow: 0px 0px 3px 3px rgb(150, 42, 0);
    text-decoration: none;
    color: black;
}
.projectPic
{
    flex-basis: 20%;
    padding: 10px;
}
#BeatAMoose:hover, #BeatYourFears:hover, #ApeInSpace:hover, #Ship:hover, #Casino:hover
{

    box-shadow: 0px 0px 3px 3px rgb(150, 42, 0);
    background-color:  rgb(236, 95, 0);
    color:  rgb(255, 208, 0);
}    