/*CSS for Cortland Lehnen Portfolio Page*/

html
{
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgb(167, 112, 255), rgb(95, 9, 255));
}
body
{
    width: 60%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 
header, main
{
    background-color: rgb(150, 150, 255);
    text-align: center;
}
#content
{
    padding: 30px;
}
#links
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(95, 9, 255);
    border-radius: 5px;
}
a
{
    font-size: 22px;
}
#BeatAMoose, #BeatYourFears, #ApeInSpace
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projectPic
{
    flex-basis: 20%;
}
.projectDesc
{
    flex-basis: 40%;
    align-content: center;
    text-align: left;
    font-size: 22px;
}
#BeatAMoose:hover, #BeatYourFears:hover, #ApeInSpace:hover
{
    background-color:white;
    opacity: 90%;
}
a:link
{
    color: blue;
}
a:visited
{
    color: darkblue;
}
a:focus
{
    color: cyan;
}
a:hover
{
    color: cyan;
}
a:active
{
    color: #008bad;
}