/*CSS for Cortland Lehnen Portfolio Page*/

html
{
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(155, 155, 155));
}
body
{
    width: 85%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header h1
{
    padding-top: 10px;
}
header h2
{
    padding-bottom: 10px;
}
header, main
{
    border-radius: 15px;
    background-color: rgb(148, 148, 148);
    text-align: center;
}
main
{
    display:flex;
    flex-direction: row;
}
#content
{
    flex-basis: 40%;
    padding: 30px;
}
#projects
{
    flex-basis: 60%;
    padding: 20px;
    border-radius: 5px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;
}
#links
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 5px;
}
.nav
{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
}
.nav:hover
{
    background-color: rgb(97, 97, 97)
}
a
{
    font-size: 22px;
}
#BeatAMoose, #BeatYourFears, #ApeInSpace, #Ship, #Casino
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(206, 206, 206);
}
.projectPic
{
    flex-basis: 20%;
    padding: 10px;
}
.projectDesc
{
    flex-basis: 40%;
    align-content: center;
    text-align: left;
    font-size: 22px;
}
#BeatAMoose:hover, #BeatYourFears:hover, #ApeInSpace:hover, #Ship:hover, #Casino:hover
{
    background-color:rgb(114, 114, 114);
}
a:link
{
    color: rgb(236, 106, 0);
}
a:visited
{
    color: rgb(139, 44, 0);
}
a:focus
{
    color: rgb(177, 12, 0);
}
a:hover
{
    color: rgb(177, 12, 0);
}
a:active
{
    color: #e66f00;
}