/*CSS for Cortland Lehnen Portfolio Projects*/
html
{
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgb(167, 112, 255), rgb(95, 9, 255));
}
body
{
    width: 80%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
header, main
{
    background-color: rgb(150, 150, 255);
}
header
{
    text-align: center;
}
#buttons
{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}
#buttons a
{
    background-color:rgb(111, 111, 212);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}
main
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
h1, h2
{
    text-align: center;
}
p, ul
{
    background-color:rgb(111, 111, 212);
    padding: 30px;
}
img
{
    background-color: rgb(111, 111, 212);
    padding: 20px;
}
a:link
{
    color: blue;
}
a:visited
{
    color: darkblue;
}
a:focus
{
    color: cyan;
}
a:hover
{
    color: cyan;
}
a:active
{
    color: #008bad;
}