/*CSS for Cortland Lehnen Portfolio Projects*/
html
{
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(155, 155, 155));
}
body
{
    width: 80%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
header, main
{
    background-color: rgb(148, 148, 148);
}
header
{
    text-align: center;
}
header h1
{
    padding-top: 25px;
}
#buttons
{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}
#buttons a
{
    background-color: rgb(201, 201, 201);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}
#buttons a:hover
{
    background-color: rgb(97, 97, 97)
}
main
{
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
h1, h2
{
    text-align: center;
}

p, ul
{
    background-color: rgb(206, 206, 206);
    padding: 30px;
}
img
{
    background-color: rgb(206, 206, 206);
    padding: 20px;
}
a:link
{
    color: rgb(236, 106, 0);
}
a:visited
{
    color: rgb(139, 44, 0);
}
a:focus
{
    color: rgb(177, 12, 0);
}
a:hover
{
    color: rgb(177, 12, 0);
}
a:active
{
    color: #e66f00;
}